html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0}input,select{vertical-align:middle}


/* general rules */
body * {
  font-family: 'Droid Sans', sans-serif;
  color: #222;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.space-before-body {
  height: 50px;
}

/* navbar */
.navbar {
  padding: 10px;
  position: fixed;
  width: 100%;
  background: #0287c8;
  z-index: 3000;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

#brand {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: none;
}

.navbar-username {
  margin: 10px 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}

.navbar-user-img {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  float: right;
  margin-right: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 10px;
}

.navbar ul li a,
.navbar ul li span {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.navbar-dropdown {
  position: fixed;
  z-index: 1000;
  top: 55px;
  right: 0;
  background: #0287c8;
  text-align: right;
  display: none;
}

.navbar-dropdown ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-dropdown ul li a {
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-dropdown ul li:hover {
  background: #07549a;
}


/* flash messsages */
.flash {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.flash-close {
  display: inline-block;
  float: right;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
}

.flash-success {
  border: 3px solid #0c4f12;
  border-radius: 12px;
  background: #fff;
}

.flash-error {
  border: 3px solid #700a0a;
  border-radius: 12px;
  background: #fff;
}

.flash-success-text,
.flash-error-text {
  font-weight: bold;
  margin: 13px 10px 10px;
  display: inline-block;
  font-size: 16px;
}

.success-color {
  color: #0c4f12;
}

.error-color {
  color: #700a0a;
}


/* modals */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal-content {
  background: #fff;
  border-radius: 13px;
  width: 40%;
  margin: 200px auto 0;
  animation-name: modalopen;
  animation-duration: 0.7s;
  box-shadow: 0 4px 6px 0 rgba(100, 100, 100, 0.4), 0 5px 15px 0;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

.modal-header {
  padding: 10px 0;
}

.modal-header h2 {
  margin: 15px 10px 0;
  font-size: 18px;
  color: #0287c8;
  display: inline-block;
}

.modal-close {
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 15px;
}

.modal-close:hover {
  color: #ad0909;
  font-size: 24px;
}

.modal-body {
  padding: 10px 10px 15px;
}


/* forms */
.form {
  text-align: center;
}

.form input {
  width: 90%;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #888;
  border-radius: 13px;
}

.form input:focus {
  outline: none;
  border: 1px solid #0287c8;
  box-shadow: 0 0 3px #0287c8;
}

.form button {
  margin-top: 5px;
  padding: 7px;
  border: 2px solid #0287c8;
  border-radius: 13px;
  width: 200px;
  color: #0287c8;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
}

.form button:hover {
  color: #fff;
  background: #0287c8;
}


.or {
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.fa {
  color: #fff;
  margin-right: 10px;
}

#google-button {
  margin: 10px auto;
  display: block;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  border: 2px solid #e54736;
  border-radius: 13px;
  width: 200px;
  color: #fff;
  background: #e54736;
  font-weight: bold;
  font-size: 16px;
}

#google-button:hover {
  background: #fff;
  color: #e54736;
}

#google-button:hover .fa-google {
  color: #e54736;
}

#twitter-button {
  margin: 10px auto;
  display: block;
  padding: 7px;
  text-decoration: none;
  text-align: center;
  border: 2px solid #00a2ef;
  border-radius: 13px;
  width: 200px;
  color: #fff;
  background: #00a2ef;
  font-weight: bold;
  font-size: 16px;
}

#twitter-button:hover {
  background: #fff;
  color: #00a2ef;
}

#twitter-button:hover .fa-twitter {
  color: #00a2ef;
}

/* smaller screens */
@media screen and (max-width: 650px) {
  .modal-content {
    width: 70%;
    margin-top: 65px;
  }
}

@media screen and (max-width: 500px) {
  .space-before-body {
    height: 45px;
  }

  /* navbar */
  .logo {
    display: inline;
    margin: 0;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: none;
  }

  #brand {
    display: none;
  }

  .navbar ul li {
    margin: 5px;
  }

  .navbar ul li a,
  .navbar ul li span {
    color: $fff;
    font-size: 14px;
  }

  .navbar-user-img {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .navbar-dropdown {
    top: 40px;
    width: 100%;
    text-align: center;
  }

  /* flash messages */
  .flash {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    width: 95%;
    border-width: 1px;
    border-radius: none;
  }

  .flash-close {
    margin: 5px;
    float: right;
  }

  /* modals */
  .modal-content {
    width: 90%;
  }

  .modal-header {
    padding: 0;
  }
}

@media screen and (max-width: 300px) {
  .modal-content {
    padding: 0;
  }

  .modal-body {
    padding: 5px 5px 10px;
  }

  .form button,
  #google-button,
  #twitter-button {
    width: 140px;
    font-size: 12px;
    padding: 5px;
  }

  .form input {
    padding: 5px;
  }
}
